.app {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: 100dvh;
}

body {
    background-color: #4d4c4c;
}

/* stylize navbars */
.appNav {
    position: fixed;
    z-index: 999;
}
#top {
    top: 0;
}
#bottom {
    bottom: 0;
}

.appContent {
    max-width: 480px;
}

@media only screen and (max-width: 480px) {
    .appContent {
        display: flex;
        justify-content: center;

        width: 100dvw;
    }
}