/* ## initialize app layout ## */
.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    height: 100dvh;
    width: 100dvw;

    /* ## navbar layout ## */
    .app__nav {
        position: fixed;
        z-index: 999;
    }
    .app__nav--top {
        top: 0;
    }
    .app__nav--bottom {
        bottom: 0;
    }
    
    /* ## app content layout ## */
    .app__content {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100dvw;
        height: 100dvh;
    }
}