@font-face {
    font-family: InterV;
    src: url(../../../public/fonts/Inter-Variable.ttf);
}

.centered {
    text-align: center;

    font-family: interV;
}

.back-bttn {
    text-decoration: none;
    color: black;

    display: flex;
    justify-content: center;

    margin: 0;
}

.back-bttn-bg {
    background-color: rgb(47, 201, 0);
}