/* ## custom font ## */
@font-face {
    font-family: InterV;
    src: url('../../../public/fonts/Inter-Variable.ttf');
}

/* ## system content wrap ## */
.content-wrap--system {
    font-family: InterV;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 480px;
    height: 80dvh;

    /* ## loading effect ## */
    .content-wrap--system__loading {
        color: #1cb553;
        font-size: 3rem;

        animation: spin 1.5s linear infinite;
    }

    /* ## error prompt ## */
    .content-wrap--system__error {
        background-color: #797979;
        border-radius: 0.5rem;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        width: 100%;

        .content-wrap--system__error--head {
            background-color: #656565;
            color: #ffffff;

            margin: 0;
            padding: 0.5rem 0 0.5rem 0;
        }

        .content-wrap--system__error--prompt {
            padding: 1.5rem 0 1.5rem 0;

            .content-wrap--system__error--prompt__msg {
                color: white;

                margin: 0;
                padding: 0;
            }

            .content-wrap--system__error--prompt__refresh {
                background-color: #8d8d8d;
                color: white;
                border: none;
                margin: 1rem 0 0 0;
                padding: 0.75em 1.5em;
                border-radius: 999px;
            }
        }
    }
}

/* ## main content wrap ## */
.content-wrap--main {
    font-family: InterV;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 480px;
    height: 70dvh;

    /* ## card swipes layout ## */
    .card--swipable {
        position: relative;
        width: 100%;
        height: 100%;
        /* overflow: hidden; */

        .card--swipable--generate {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
        }
        .card--swipable--generate:nth-child(1) {
            z-index: 3;
        }
        .card--swipable--generate:nth-child(2) {
            z-index: 2;
        }
        .card--swipable--generate:nth-child(3) {
            z-index: 1;
        }
    }

    /* ## button layout ## */
    .card--buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        button {
            color: white;
            text-align: center;
            border-radius: 100%;
            border: none;
            cursor: pointer;

            width: 2.5em;
            height: 2.5em;
        }

        /* ## button styles ## */
        .card--buttons--rewind {
            color: #31adff;
            background-color: rgba(255, 255, 255, 0.2);
            border: #2773dd 5px solid;
            font-size: 1.6rem;
        }
        .card--buttons--like {
            color: #40f783;
            background-color: rgba(255, 255, 255, 0.2);
            border: #1cb553 5px solid;
            font-size: 2rem;
        }
        .card--buttons--dislike {
            color: rgb(245, 63, 63);
            background-color: rgba(255, 255, 255, 0.2);
            border: rgb(180, 32, 32) 5px solid;
            font-size: 2rem;
        }
        .card--buttons--listen {
            color: rgb(246, 194, 52);
            background-color: rgba(255, 255, 255, 0.2);
            border: rgb(197, 151, 25) 5px solid;
            font-size: 1.6rem;
        }
    }
}

/* ## devices breakpoints ## */
@media only screen and (max-width: 480px) {
    .content-wrap--system {
        padding: 0 1rem 0 1rem;
    }

    .content-wrap--main {
        flex-direction: column;

        margin: 0 1rem 0 1rem;
    }
}

/* ## loading animation ## */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}