@font-face {
    font-family: InterV;
    src: url(../../../..//public/fonts/Inter-Variable.ttf);
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.no_selection {
    -webkit-user-select: none !important; /* Safari */
    -ms-user-select: none !important; /* IE 10 and IE 11 */
    user-select: none !important; /* Standard syntax */
}