@font-face {
    font-family: InterV;
    src: url(../../../..//public/fonts/Inter-Variable.ttf);
}

.card-swipable {
    background-color: red !important;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card-left {
        display: flex;
        flex-direction: column;
    }

    .limited-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}