@font-face {
    font-family: InterV;
    src: url(../../../..//public/fonts/Inter-Variable.ttf);
}

.swipe-content {
    font-family: InterV;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    .swipe-content__image {
        object-position: center;
        object-fit: cover;

        height: 300px;
        .swipe-content__image--source {
            user-drag: none;
            pointer-events: none;
            overflow: hidden;
            object-position: center;
            object-fit: cover;
            width: 100%;
        }
    }
    .swipe-content__info {
        background-color: #282424;
        color: white;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        padding: 0 1rem;
    
        white-space: nowrap;
        line-height: 1lh;
    
        .swipe-content__info--track, .swipe-content__info--preview {
            margin: 0;
        }
        .swipe-content__info--track {
            user-select: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

/* ## track info stylize ## */
.track-right {
    align-items: flex-start;
}
.track-available {
    background-color: #13d055;
    font-size: 2rem;
    text-align: center;
    border-radius: 100%;

    margin: 0 0;
    width: 1.3em;
    height: 1.3em;
}
.track-available a {
    text-decoration: none !important;
    color: #189845;
}
.track-not-available {
    color: rgb(88, 88, 88);
    background-color: rgb(146, 146, 146);
    font-size: 2.5rem;
    text-align: center;
    border-radius: 100%;

    margin: 0;
    width: 1.1em;
    height: 1.1em;
}