/* control overall navigator */
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

/* control upper navigator */
.upper-nav {
    background-color: #272727;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    .upper-nav-wrapper {
        display: flex;
        justify-content: space-between;

        width: 100%;
        max-width: 480px;
        margin: 1rem 0 1rem 0;
    }

    .upper-nav-logo {
        width: 10rem;
    }
    .upper-nav-logo img {
        width: 100%;
    }

    .swpficon {
        display: none;
    }

    .upper-nav-button {
        display: flex;
        gap: 1rem;
    }
    .upper-nav-button a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }
}

/* control lower navigator */
.lower-nav {
    background-color: #272727;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    .lower-nav-wrapper {
        display: flex;
        justify-content: space-between;

        width: 100%;
        max-width: 480px;
        margin: 1rem 0 1rem 0;
    }

    .lower-nav-icon a {
        color: white;
        font-size: 5rem;
        text-decoration: none;
    }
}

/* mobile responsive */