.footer {
    background-color: #1E1E1E;

    display: flex;
    justify-content: center;
    align-content: center;
    position:absolute;
    bottom: 0;

    width: 100%;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;

    width: 100%;
    max-width: 480px;
    margin: 1rem;
}
.footer-icon {
    color: white;
    font-size: 1.2rem;
}
.footer-icon-mini {
    display: none;
}

@media only screen and (max-width: 277px) {
    .footer-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .footer-icon {
        display: none;
    }
    .footer-icon-mini {
        display: inline-block;
        background: none;
        color: white;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .footer-icon-mini p {
        margin: 0;
    }
}