/* ## root ## */
:root, html, body, #root {
  background-color: #4d4c4c;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100dvh;
  margin: 0;
}